<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Mitre ATT&CK</title>
</head>
<body>
    <h1>Búsqueda de Mitre ATT&CK</h1>
    <form action="/buscar" method="post">
        <label for="attck_id">Buscar por ATT&CK ID:</label>
        <input type="text" name="attck_id" id="attck_id">
        <br>
        <label for="categoria">Buscar por Categoría:</label>
        <input type="text" name="categoria" id="categoria">
        <br>
        <input type="submit" value="Buscar">
    </form>
</body>
</html>
